<div style="height: 90vh; width: 100%;">
  <div class="row">
    <div class="col-sm-12">
      <button class="collapse-button" *ngIf="showCollapseButton" mat-raised-button (click)="collapseButtonClick()"><span><fa-icon [icon]="arrow"></fa-icon></span> {{collapseButtonName ? collapseButtonName : 'Go Back'}}</button>
    </div>
  </div>
  <app-graph-visual *ngIf="!showError; else showErrorMessages" [components]="components" [relationships]="relationships" [usecases]="useCases" [options]="options"></app-graph-visual>
  <ng-template #showErrorMessages>
    <div class="row" style="margin: 0;">
      <div class="col-sm-12">
        <div class="error-box">
          <div class="row">
            <div class="col-sm-5" align="right"><fa-icon class="error-icon" [icon]="warning"></fa-icon></div>
            <div class="col-sm-2" align="center"><strong style="font-size: 28px;">Errors</strong></div>
            <div class="col-sm-5" align="left"><fa-icon class="error-icon" [icon]="warning"></fa-icon></div>
          </div>
          <br>
          <div class="row" *ngFor="let error of graphErrors">
            <div class="col-sm-12">
              <pre align="left"><strong *ngIf="error.line">Line {{error.line}}</strong> {{error.message}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
