@import "~src/theme.scss";

.error-icon {
  color: $warn;
  position: center;
  margin: 0 auto;
  display: inline-block;
  font-size: 200%;
}
.error-box {
  margin: 40px;
  border: 2px solid $warn;
  border-radius: 4px;
  background: rgba(249,62,62,.1);
}
.collapse-button {
  margin-top: 10px;
  margin-left:10px;
}
