<div>
  <p>Click on a component or relationship in the diagram to view its metadata</p>
  <div *ngIf="metadataService.selectedComponent">
    <mat-card [ngClass]="{'metadata-card': true, 'highlighted': metadataService.selectedComponent.onUseCasePath}">
      <mat-card-content class="metadata-content">
        <mat-card-title id="metadata-display-title">Component</mat-card-title>
        <mat-card-subtitle>Name</mat-card-subtitle>
        <mat-card-content>{{ metadataService.selectedComponent.name }}</mat-card-content>
        <ng-container *ngIf="metadataService.selectedComponent.description">
          <mat-card-subtitle>Description</mat-card-subtitle>
          <mat-card-content >{{ metadataService.selectedComponent.description }}</mat-card-content>
        </ng-container>
        <ng-container *ngIf="metadataService.selectedComponent.children.length">
          <mat-card-subtitle>Children</mat-card-subtitle>
          <mat-card-content>
            <ul>
              <li *ngFor="let child of metadataService.selectedComponent.children"> {{ child }} </li>
            </ul>
          </mat-card-content>
        </ng-container>
        <ng-container *ngIf="metadataService.selectedComponent.relationships.length">
          <mat-card-subtitle>Relationship(s)</mat-card-subtitle>
          <mat-card-content>
            <ul>
              <li *ngFor="let relation of metadataService.selectedComponent.relationships"> {{ relation }} </li>
            </ul>
          </mat-card-content>
        </ng-container>
        <ng-container *ngIf="metadataService.selectedComponent.metadata">
          <mat-card-subtitle>Metadata</mat-card-subtitle>
          <mat-card-content *ngFor="let data of objectKeys(metadataService.selectedComponent.metadata)">
            {{data}}: {{metadataService.selectedComponent.metadata[data]}}
          </mat-card-content>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="metadataService.selectedConnection">
    <ng-container *ngFor="let relationship of metadataService.selectedConnection.relationships">
      <mat-card [ngClass]="{'metadata-card': true, 'highlighted': relationship.onUseCasePath}" >
        <mat-card-content class="metadata-content">
          <mat-card-title id="metadata-display-title">Relationship</mat-card-title>
          <mat-card-subtitle>Name</mat-card-subtitle>
          <mat-card-content>{{ relationship.name }}</mat-card-content>
          <ng-container *ngIf="relationship.description">
            <mat-card-subtitle>Description</mat-card-subtitle>
            <mat-card-content>{{ relationship.description }}</mat-card-content>
          </ng-container>
          <mat-card-subtitle>To</mat-card-subtitle>
          <mat-card-content>{{ metadataService.components[relationship.target].name }}</mat-card-content>
          <mat-card-subtitle>From</mat-card-subtitle>
          <mat-card-content>{{ metadataService.components[relationship.source].name }}</mat-card-content>
          <ng-container *ngIf="relationship.metadata">
            <mat-card-subtitle>Metadata</mat-card-subtitle>
            <mat-card-content *ngFor="let data of objectKeys(relationship.metadata)">
              {{data}}: {{relationship.metadata[data]}}
            </mat-card-content>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
