.metadata-card {
  height: auto;
  max-width: 80%;
  margin: 10px;
  border-style: none;
  overflow-wrap: break-word;
}

.highlighted {
  border-color: #38AF99;
  border-style: solid;
}


div {
  padding: 20px;
  color: white;
}
