<div class="col-sm-12">
  <div class="row">

    <div class="col-sm-6 no-padding">
      <mat-tab-group [backgroundColor]="'accent'">
        <mat-tab label="Text Editor">
          <div class="content">
            <app-text-editor></app-text-editor>
          </div>
        </mat-tab>
        <mat-tab label="Use Cases">
          <div class="content">
            <app-usecase-display></app-usecase-display>
          </div>
        </mat-tab>
        <mat-tab label="Metadata">
            <div id="metadata-tab" class="content">
              <app-metadata-display></app-metadata-display>
            </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="col-sm-6 no-padding">
      <app-diagram></app-diagram>
    </div>

  </div>
</div>
