<mat-toolbar color="primary">
  <a href="/splash.html"><img id="logo" src="assets/img/architext_logo.png" alt="Architext"></a>
  <span class="spacer"></span>
  <button mat-raised-button [matMenuTriggerFor]="options" color="accent">Options</button>
  <mat-menu #options>
    <input id="yaml-upload-button" type="file" accept=".yaml, .yml" (change)="filePicked($event)" #yamlUpload>
    <button class="menu-button" mat-menu-item (click)="yamlUpload.click()">Upload YAML</button>
    <button class="menu-button" mat-raised-button (click)="downloadYAML()">Export YAML</button>
  </mat-menu>
</mat-toolbar>
