@import "src/theme.scss";

.header {
  background-color: $primary;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Arial";
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
  font-family: "Arial";
}

.code{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  margin: auto;
  padding: 10px;
  font-family: "Courier New";
}
.title {
  color: white;
}

#logo {
  height: 200px;
  width: auto;
}
