<div style="height:100%; padding: 10px;">
  <mat-form-field *ngIf="useCases">
    <mat-label style="color:white;"><h4>Selected Use Case:</h4></mat-label>
    <mat-select [(ngModel)]="selectedUsecase" (ngModelChange)="displayUseCase()" placeholder="None">
      <mat-option value="none">None</mat-option>
      <mat-option *ngFor="let usecase of useCases" [value]="usecase.name">
        {{usecase.name}}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <div class="usecaseCard" *ngIf="selectedUsecase !== 'none'">
    <mat-card>
      <mat-card-title>{{useCaseData.name}}</mat-card-title>
      <mat-card-subtitle>Description</mat-card-subtitle>
      <mat-card-content>{{useCaseData.description}}</mat-card-content>
      <ng-container *ngIf="useCaseData.metadata">
        <mat-card-subtitle>Metadata</mat-card-subtitle>
        <mat-card-content *ngFor="let data of objectKeys(useCaseData.metadata)">{{data}}: {{useCaseData.metadata[data]}}</mat-card-content>
      </ng-container>
    </mat-card>
  </div>
</div>
