/* You can add global styles to this file, and also import other style files */
@import "src/theme.scss";
@import "~bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  background-color: $accent;
  font-family: "Arial";
  color: black;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
