@import '~@angular/material/theming';
@include mat-core();

$my-black: (
  50: #9a9a9a,
  100: #717171,
  200: #5d5d5d,
  300: #3f3f3f,
  400: #1e1e1e,
  500: #1a1a1a,
  600: #131313,
  700: #101010,
  800: #030303,
  900: #000000,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$my-greenish-blue: (
  50: #e1f3f1,
  100: #b6e3da,
  200: #87d1c3,
  300: #58beab,
  400: #38af99,
  500: #23a088,
  600: #20937b,
  700: #1b826b,
  800: #16725d,
  900: #105642,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$app-primary: mat-palette($my-black, 400, 200, 700);
$app-accent:  mat-palette($my-greenish-blue, 400, 200, 700);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

$primary: mat-color($app-primary, 400);
$accent: mat-color($app-accent, 400);
$warn: mat-color($app-warn);