<svg:g [attr.transform]="'translate(' + component.x + ',' + component.y + ')'" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect [ngClass]="{'component': true, 'highlighted': component.onUseCasePath, 'selected': component.mouseOver}" (mouseover)="component.mouseOverEvent()" (mouseout)="component.mouseOutEvent()" (click)="onComponentClick()" width="200" height="100" x="-100" y="-50"></rect>
    <text class="component-name">{{displayName}}</text>
    <image [ngClass]="{'no-display': component.noChildren()}" href="../../assets/img/plus-sign.png" height="25" width="25" x="70" y="15" (click)="expandChildren()"></image>
</svg:g>
