<svg #svg [attr.width]="_options.width" [attr.height]="_options.height">
  <g [appZoomableSVG]="svg">
    <g app-relationship-visual [connection]="connection" [components]="components" *ngFor="let connection of connections"></g>
    <g app-component-visual [component]="component" *ngFor="let component of components" appDraggable [draggableComponent]="component" [draggableGraph]="graph"></g>
  </g>
</svg>
