<svg:g>
  <defs>
      <marker id="arrow" markerWidth="20" markerHeight="7"
      refX="65" refY="3.5" orient="auto">
        <polygon points="0,0 10,3.5 0,7" />
      </marker>

      <marker id="diamond" markerWidth="20" markerHeight="7"
      refX="65" refY="3.5" orient="auto">
        <polygon points="0,3.5 10,0 20,3.5 10,7" />
      </marker>

  </defs>
  <line *ngIf="!connection.bidirectional" [ngClass]="{'connection': true, 'highlighted': connection.onUseCasePath, 'selected': connection.mouseOver}"
        [attr.x1]="connection.source.x"
        [attr.y1]="connection.source.y"
        [attr.x2]="connection.target.x"
        [attr.y2]="connection.target.y"
        marker-end="url(#arrow)"
        (mouseover)="connection.mouseOverEvent()" (mouseout)="connection.mouseOutEvent()"></line>
  <line *ngIf="connection.bidirectional" [ngClass]="{'connection': true, 'highlighted': connection.onUseCasePath, 'selected': connection.mouseOver}"
        [attr.x1]="connection.source.x"
        [attr.y1]="connection.source.y"
        [attr.x2]="connection.target.x"
        [attr.y2]="connection.target.y"
        marker-end="url(#diamond)"
        (mouseover)="connection.mouseOverEvent()" (mouseout)="connection.mouseOutEvent()"></line>
</svg:g>
