@import "src/theme.scss";

.component {
  fill: lightgrey;
  cursor: pointer;
  transition: stroke-width 0.1s ease-out,
  fill 0.1s ease-out,
  stroke 0.1s ease-out;

  stroke: white;
  stroke-width: 0.25;
}

.component-name {
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: black;
}
.connection{
  stroke-width: 2;
  stroke: black;
}

.highlighted {
  stroke: $accent;
  stroke-width: 3;
}

.selected {
  stroke: $primary;
  stroke-width: 3;
}

.no-display {
  display: none;
}
